body{
    background-color:#02153d;
    color: white;
}
.myimg{
    width:350px;
    height:400px;
    border:5px solid black;
    padding:5px;
    margin-left: 38%;
    border-radius: 50px;
}
#logo{
    height: 50px;
    width: 50px;
}
.name{
    color:rgb(118, 110, 70);
    font-size: larger;
    font: bolder;
}
.main{
    text-align: center;
}
button{
    padding: 2px;
    background-color: beige;
    width: 100px;
    height: 35px;
}
button:hover{
    background-color: #bb944d;
}
td,th,table{
    border:2px solid black;
    text-align: center;
    padding:3px;
}
.cpp,.html,.css,.java,.javascript,.dsa,.problemSolving{
    border: 2px solid black;
    padding:3px;

}
.cpp:hover{
    background-color: rgb(140, 140, 59);
}
.html:hover{
    background-color: orange;
}
.css:hover{
    background-color: blue ;
}
.java:hover{
    background-color: pink;
}
.javascript:hover{
    background-color: rgb(59, 62, 87);
}
.problemSolving:hover{
    background-color: rgb(68, 107, 90);
}
.dsa:hover{
    background-color: coral;
}
.info, .Education, .Skills, .experinces {
    display: none;
  }
